### 2.2.1. 读取数据集
举一个例子，我们首先创建一个人工数据集，并存储在CSV（逗号分隔值）文件 ../data/house_tiny.csv中。 以其他格式存储的数据也可以通过类似的方式进行处理。 下面我们将数据集按行写入CSV文件中。

In [1]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

要从创建的CSV文件中加载原始数据集，我们导入pandas包并调用read_csv函数。该数据集有四行三列。其中每行描述了房间数量（“NumRooms”）、巷子类型（“Alley”）和房屋价格（“Price”）。

In [2]:
# 如果没有安装pandas，只需取消对以下行的注释来安装pandas
# !pip install pandas
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

### 2.2.2. 处理缺失值
注意，“NaN”项代表缺失值。 为了处理缺失的数据，典型的方法包括插值法和删除法， 其中插值法用一个替代值弥补缺失值，而删除法则直接忽略缺失值。 在这里，我们将考虑插值法。

通过位置索引iloc，我们将data分成inputs和outputs， 其中前者为data的前两列，而后者为data的最后一列。 对于inputs中缺少的数值，我们用同一列的均值替换“NaN”项。

In [4]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

C:\Users\Administrator\AppData\Local\Temp\ipykernel_59016\38268100.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  inputs = inputs.fillna(inputs.mean())

对于inputs中的类别值或离散值，我们将“NaN”视为一个类别。 由于“巷子类型”（“Alley”）列只接受两种类型的类别值“Pave”和“NaN”， pandas可以自动将此列转换为两列“Alley_Pave”和“Alley_nan”。 巷子类型为“Pave”的行会将“Alley_Pave”的值设置为1，“Alley_nan”的值设置为0。 缺少巷子类型的行会将“Alley_Pave”和“Alley_nan”分别设置为0和1。

In [5]:
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

### 2.2.3. 转换为张量格式
现在inputs和outputs中的所有条目都是数值类型，它们可以转换为张量格式。 当数据采用张量格式后，可以通过在 2.1节中引入的那些张量函数来进一步操作。

In [6]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

### 2.2.4. 小结
pandas软件包是Python中常用的数据分析工具中，pandas可以与张量兼容。

用pandas处理缺失的数据时，我们可根据情况选择用插值法和删除法。

### 2.5. 练习
创建包含更多行和列的原始数据集。

1、删除缺失值最多的列。

2、将预处理后的数据集转换为张量格式。

In [7]:
# 1、删除缺失值最多的列。
# 创建一个csv
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,10, size=(10,5)))
df.iloc[1:3, 0] = np.nan
df.iloc[3:6, 2] = np.nan
df.iloc[7,3] = np.nan
df.iloc[8:9, 0:3] = np.nan
df

     0    1    2    3  4
0  0.0  8.0  1.0  8.0  2
1  NaN  2.0  5.0  5.0  4
2  NaN  0.0  5.0  2.0  9
3  6.0  5.0  NaN  6.0  9
4  8.0  9.0  NaN  3.0  8
5  2.0  0.0  NaN  3.0  6
6  9.0  0.0  3.0  9.0  1
7  5.0  7.0  7.0  NaN  9
8  NaN  NaN  NaN  5.0  4
9  8.0  9.0  0.0  7.0  6

In [8]:
# 找到缺失值最多的列：
df.isnull().sum().sort_values(ascending=False)

2    4
0    3
1    1
3    1
4    0
dtype: int64

In [9]:
# drop方法删除第2列：
data = df.drop(2,axis=1) # 默认drop的是行，需要指定axis才能删除列

In [10]:
data

     0    1    3  4
0  0.0  8.0  8.0  2
1  NaN  2.0  5.0  4
2  NaN  0.0  2.0  9
3  6.0  5.0  6.0  9
4  8.0  9.0  3.0  8
5  2.0  0.0  3.0  6
6  9.0  0.0  9.0  1
7  5.0  7.0  NaN  9
8  NaN  NaN  5.0  4
9  8.0  9.0  7.0  6

In [11]:
# 2 将预处理后的数据集转换为张量格式。
data = data.fillna(data.mean()) # 对缺失值用同一列的均值替换
tensor = torch.tensor(data.values)
tensor

tensor([[0.0000, 8.0000, 8.0000, 2.0000],
        [5.4286, 2.0000, 5.0000, 4.0000],
        [5.4286, 0.0000, 2.0000, 9.0000],
        [6.0000, 5.0000, 6.0000, 9.0000],
        [8.0000, 9.0000, 3.0000, 8.0000],
        [2.0000, 0.0000, 3.0000, 6.0000],
        [9.0000, 0.0000, 9.0000, 1.0000],
        [5.0000, 7.0000, 5.3333, 9.0000],
        [5.4286, 4.4444, 5.0000, 4.0000],
        [8.0000, 9.0000, 7.0000, 6.0000]], dtype=torch.float64)